.Menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.MenuItem {
  margin: 0 0 0 25px;
}

.MenuLink {
  color: #FFFFFF;
}

.MenuLink:hover {
  text-decoration: none;
}